body {
	background-color: #0c6d5a;
}

.main {
	z-index: 1000;
}
.App {
	text-align: center;
}
.Page-Component {
	text-align: center;
}
pre {
	font-size: 8rem;
	font-family: 'Playfair Display', serif;
	width: 1000px;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
}
h2.App {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 59px;
	margin-top: 23vmin;
}
p {
	font-family: 'Sacramento', cursive;
	font-size: xx-large;
	text-align: center;
	color: bisque;
	padding: 0px;
	margin: 0%;
}

.App-logo {
	height: 7rem;
	width: 12rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
@media only screen and (max-height: 568px) {
	h2.App {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
		margin-top: 15vmin;
	}
}
@media only screen and (max-width: 568px) {
	pre {
		font-size: 3rem;
		font-family: 'Playfair Display', serif;
		margin-bottom: 1em;
	}
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
	}
	p {
		font-family: 'Sacramento', cursive;
		font-size: x-large;
		text-align: center;
		color: bisque;
		padding: 0px;
		margin: 0%;
	}
	.App-logo {
		height: 2.4rem;
		width: 4rem;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}
@media only screen and (min-width: 568px) {
	pre {
		font-size: 3rem;
		font-family: 'Playfair Display', serif;
		margin-bottom: 1em;
	}
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
	}
	p {
		font-family: 'Sacramento', cursive;
		font-size: x-large;
		text-align: center;
		color: bisque;
		padding: 0px;
		margin: 0%;
	}
	.App-logo {
		height: 2.4rem;
		width: 4rem;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}
@media only screen and (min-width: 768px) {
	pre {
		font-size: 5rem;
		font-family: 'Playfair Display', serif;
		margin-bottom: 1em;
	}
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
	}
	p {
		font-family: 'Sacramento', cursive;
		font-size: x-large;
		text-align: center;
		color: bisque;
		padding: 0px;
		margin: 0%;
	}
	.App-logo {
		height: 4rem;
		width: 6rem;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}
@media only screen and (min-width: 992px) {
	pre {
		font-size: 8rem;
		font-family: 'Playfair Display', serif;
		margin-bottom: 1em;
	}
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: 400;
		font-style: italic;
	}
	p {
		font-family: 'Sacramento', cursive;
		font-size: xx-large;
		text-align: center;
		color: bisque;
		padding: 0px;
		margin: 0%;
	}
	.App-logo {
		height: 7rem;
		width: 12rem;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.no-outline-on-focus {
	outline: none;
}
