body {
	background-color: #0c6d5a;
}

.App {
	text-align: center;
}
.Page-Component {
	text-align: center;
}
pre {
	font-size: 8rem;
	font-family: 'Playfair Display', serif;
}
p {
	font-family: 'Sacramento', cursive;
	font-size: xx-large;
	text-align: center;
	color: bisque;
	padding: 0px;
	margin: 0%;
}

.App-logo {
	height: 7rem;
	width: 12rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.no-outline-on-focus {
	outline: none;
}
